<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
      <%
        formatTitle = function (text) {
          string = text.replace('-', ' ');
          return string.charAt(0).toUpperCase() + string.slice(1);
        }
      %>
      <%=
        formatTitle(title)
      %>
    </title>
    <link href="./prism.css" rel="stylesheet">
    <link href="./example.css" rel="stylesheet">
    <script type="text/javascript" src="./clipboard.min.js"></script>
    <script type="text/javascript" src="./prism.js"></script>
  </head>
  <body>
    <div>
      <%= require('./' + title + '.html') %>
    </div>
    <div>
      <pre>
        <code class="language-markup">
<%- require('./body-top.html') %>
<%- require('./' + title + '.html') %>
<%- require('./body-bottom.html') %>
        </code>
      </pre>
    </div>
    <script>
      (function(){
        Prism.plugins.toolbar.registerButton('copy-to-clipboard', function (env) {
          var linkCopy = document.createElement('a');
          linkCopy.textContent = ' Copy';

          if (!ClipboardJS) {
            callbacks.push(registerClipboard);
          } else {
            registerClipboard();
          }

          return linkCopy;

          function registerClipboard() {
            var clip = new ClipboardJS(linkCopy, {
              'text': function () {
                return env.code;
              }
            });


            clip.on('success', function() {
              linkCopy.textContent = ' Copied!';
            });
          }
        });
      })();
    </script>
  </body>
</html>
